<div class="container emp-profile">
  <!-- <form method="post"> -->
  <div class="row">
    <div class="col-md-4">
      <div class="profile-img" *ngIf="authservice.userData as user">
        <img class="profile-pic" src={{user.photoURL}} alt="" />
        <!-- <div class="file btn btn-lg btn-primary">
                Change Photo
                <input type="file" name="file" />
              </div> -->
      </div>
    </div>
    <div class="col-md-6">
      <div class="profile-head">
        <h5>
          {{userDetails.name}}
        </h5>
        <h6>
          {{userDetails.userType}}
        </h6>
        <!-- <ul> -->
        <!-- <li class="inline-display"><i class="fab fa-linkedin"></i></li>
        <li class="inline-display"><i class="fab fa-twitter"></i></li>
        <li class="inline-display"><i class="fab fa-github"></i></li> -->
        <!-- </ul> -->
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
              aria-selected="true">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
              aria-selected="false">More Details</a>
          </li>
        </ul>
      </div>
    </div>
    <!-- <div class="col-md-2">
      <button class="btn btn-dark">Follow</button>

    </div> -->
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="profile-work">
        <p class="proile-rating">HOURLY RATE: <span>$ {{userDetails.rate}}</span></p>
        <div class="skills">
          <p>MY SKILLS</p>
          <span class="badge badge-info" id="badge" *ngFor="let list of skills">{{list}}</span>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="tab-content profile-tab" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

          <div class="row">
            <div class="col-md-6">
              <label>Name</label>
            </div>
            <div class="col-md-6">
              <p>{{userDetails.name}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label>Email</label>
            </div>
            <div class="col-md-6">
              <p>{{userDetails.email}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label>Phone</label>
            </div>
            <div class="col-md-6">
              <p>{{userDetails.mobile}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label>Profession</label>
            </div>
            <div class="col-md-6">
              <p>{{userDetails.userType}}</p>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
          <!-- <div class="row">
            <div class="col-md-6">
              <label>Experience</label>
            </div>
            <div class="col-md-6">
              <p>Expert</p>
            </div>
          </div> -->
          <div class="row">
            <div class="col-md-6">
              <label>Hourly Rate</label>
            </div>
            <div class="col-md-6">
              <p>{{userDetails.rate}} $/hr</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label>Total Projects</label>
            </div>
            <div class="col-md-6">
              <p>{{this.countJobs}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label>Location</label>
            </div>
            <div class="col-md-6">
              <p>{{userDetails.location}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12" style="text-align:justify">
              <label>Your Bio</label>
              <p>{{userDetails.userDescription}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- </form> -->
</div>